@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-one: #ffffff;
    --primary-two: #333;
    --primary-three: black;
    --primary-four: #CEE5F2;
    --primary-five: #2B50AA;
    --primary-six: #F2F4F3;
    --primary-seven: #DDDDDD;
    --primary-eigth: #373F51;
}

header{
    display: flex;
    width: 100vw;
    height: 7rem;
    background-color: var(--primary-six);
}


.header_branding{
    height: 100%;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-end;
}

.header_branding h1{
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.header_navbar{
    display: flex;
    height: 100%;
    width: 80%;
}

.navbar_ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.navbar_ul li{
    padding: 3rem;
}

.navbar_ul li a{
    text-decoration: none;
    color:var(--primary-eigth);
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


.navbar_ul li a:hover{
    border-bottom: 2px solid var(--primary-eigth);
}

.navbar_btn{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.btn_login{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;

    border-radius: 10px;
    border: none;
    color: var(--primary-one);
    background-color: var(--primary-eigth);
    font-size: 1rem;
    font-weight: bolder; 
    font-family: 'Poppins', sans-serif;
}

.btn_login:hover{
    background-color: var(--primary-one);
    color: var(--primary-eigth);
    border: 1px solid var(--primary-eigth);
    transition: background-color 0.2s ease;
}

.btn_signup{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 1.5rem;

    border-radius: 10px;
    border: none;
    color: var(--primary-one);
    background-color: var(--primary-eigth);
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.btn_signup:hover{
    background-color: var(--primary-one);
    color: var(--primary-eigth);
    border: 1px solid var(--primary-eigth);
    transition: background-color 0.2s ease;
}


/* Adding Media Queries */

@media (max-width: 1270px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    .header_branding{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
    }

    .header_navbar{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .navbar_ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar_ul li{
        padding: 1.8rem;
    }

    .navbar_btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }      

    .btn_signup{
        margin-left: 0;
        margin-top: 1rem;
    }
}


main{
    width: 100vw;
    margin-top: 3rem;
    padding: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.main_profile{
    width: 80%;
    background-color: var(--primary-eigth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}


.profile_pic{
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-top: 1rem;
}

.profile_name{
    margin-top: 1rem;
    font-weight: bolder;
    color: whitesmoke;
}

.profile_bio{
    color: whitesmoke;
    padding: 2rem;
    width: 70%;
}

.main_profile h3{
    color: whitesmoke;
    font-size: 1.5rem;
}

.profile_skills{
    width: 60%;
    margin-top: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_skills .btn_1{
    padding: 1rem;
}

.profile_skills button{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    color: whitesmoke;
    border: 1px solid var(--primary-four);
}

.main_profile .connect{
    width: 30%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: 1px solid var(--primary-four);
    color: whitesmoke;
}

.main_profile .view_profile{
    width: 30%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: 1px solid var(--primary-four);
    color: whitesmoke;
    margin-top: 1rem;
}

.main_profile .team{
    width: 30%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: 1px solid var(--primary-four);
    color: whitesmoke;
    margin-top: 1rem;
}